<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.AttachedFileMapper">

    <!-- 파일 저장 -->
    <insert id="saveFile" parameterType="AttachedFile" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO file (
            ori_file_name,    /*첨부파일명*/
            save_file_name,   /*시스템저장명*/
            save_path         /*#저장경로*/
            )
        VALUES (
            #{oriFileName},
            #{saveFileName},
            #{savePath}
            )
    </insert>

    <select id="downloadFile" parameterType="Long" resultType="AttachedFile">
        SELECT f.idx,               # 파일번호
               f.ori_file_name,     # 첨부파일명
               f.save_file_name,    # 시스템저장명
               f.save_path          # 저장경로
        FROM file f
        WHERE idx = #{idx}
    </select>

</mapper>