<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.BoardMapper">

    <!-- 게시글 등록-->
    <insert id="saveBoard" parameterType="BoardDTO">
        INSERT INTO board (
               title,
               content,
               user_idx,
               file_idx
               )
        VALUES (
               #{title},
               #{content},
               #{userIdx},
               #{fileIdx}
               )
    </insert>

    <!-- 게시글 목록-->
    <select id="getBoardList" resultType="Board">
        SELECT b.idx,           # 게시글번호
               b.title,         # 게시글제목
               b.content,       # 게시글내용
               b.name,          # 작성자
               b.save_date,     # 작성일자
               b.modify_date,   # 수정일자
               b.file_idx       # 첨부파일번호
        FROM board b
        ORDER BY b.save_date DESC
    </select>

    <select id="getBoardOne" parameterType="Long" resultType="BoardVO">
        SELECT b.idx,
               b.title,
               b.content,
               b.name,
               b.save_date,
               b.modify_date,
               b.file_idx,
               f.save_path,
               f.ori_file_name
        FROM board b, file f
        WHERE b.idx = #{idx} AND b.file_idx = f.idx
    </select>


    <!-- 검색 -->
    <select id="findBoardByTitle" parameterType="String" resultType="Board">
        SELECT b.idx,
               b.title,
               b.content,
               b.name,
               b.save_date,
               b.modify_date
        FROM board b
        WHERE b.title
        LIKE  CONCAT ('%',#{title},'%')
        ORDER BY b.save_date DESC
    </select>

    <select id="findBoardByName" parameterType="String" resultType="Board">
        SELECT b.idx,
               b.title,
               b.content,
               b.name,
               b.save_date,
               b.modify_date
        FROM board b
        WHERE b.name
        LIKE CONCAT ('%', #{name}, '%')
        ORDER BY b.save_date DESC
    </select>

    <update id="modifyBoard" parameterType="Map">
        UPDATE board
        SET title = #{title},
            content =  #{content},
            modify_date = current_timestamp()
        WHERE 1=1
        AND b.idx = #{idx}
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM board
        WHERE  idx = #{idx}
    </delete>

</mapper>