<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.ReplyMapper">

    <!-- 게시글에 달린 댓글 -->
    <select id="getReplies" parameterType="Long" resultType="Reply">
        SELECT idx, board_idx, name, content, save_date
        FROM reply
        WHERE board_idx = #{boardIdx}
        ORDER BY save_date DESC
    </select>

    <!-- 댓글 작성 -->
    <insert id="newReply" parameterType="Reply">
        INSERT INTO reply (board_idx, name, content)
        VALUES (
        #{boardIdx},
        #{name},
        #{content})
    </insert>

    <!-- 댓글 수정 -->
    <update id="modifyReply" parameterType="Map">
        UPDATE reply
        SET name = #{name}, content =  #{content}
        WHERE idx = #{idx}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteReply" parameterType="Map">
        DELETE FROM reply
        WHERE board_idx = #{boardIdx} AND idx = #{idx}
    </delete>

    <!-- 내 댓글 삭제 -->
    <delete id="deleteMyReplies" parameterType="Map">
        DELETE FROM reply
        WHERE board_idx = #{boardIdx} AND name = #{name}
    </delete>

</mapper>